*{
    margin: 0;
    padding: 0;
    }
    .container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-image: url("Images/new.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
     background-color: #cccccc;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content:center;
    }
    
    
    .card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    
    }
    .inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    }
    .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(Images/new.jpg);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 55px;
    width: 238px;
    height:388px;
    backface-visibility: hidden;
    }
    .card-back{
    transform: rotateY(180deg);
    }
    .card h2{
    font-weight: normal;
    font-size: 24px;;
    text-align: center;
    margin-bottom: 20px;
    }
    .input-box{
    width: 100%;
    background: white;
    border: 1px solid #ffffff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #000000;
    }
    ::placeholder{
    color: #000000;
    font-size: 12px;
    }
    button{
    width: 100%;
    background: white;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #000000;
    cursor: pointer;
    }
    .submit-btn{
    position: relative;
    }
    .submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #808080;
    position: absolute;
    right: -1px;
    top: -1px;
    }
    span{
    font-size: 13px;
    margin-left: 10px;
    }
    .card .btn{
    margin-top: 70px;
    }
    .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
    }
    
    
    